@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    width: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .scroll-container, .scroll-basic-container  {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    overflow: hidden;
    /* padding: 120px 20px 50px; */
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    background: #fff;
  }

  .scroll-basic-container {
      overflow: auto;
  }

  .list {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  .scroll-container .list .movie-item {
    height: 300px;
  }

  .scroll-container  .list .movie-item .img{
    height: inherit;
  }

  .scroll-container .list .movie-item img{
    height: 100%;
  }

  .img-max-height{
    max-height: 400px;
  }


@media (min-width: 640px){
    .img-max-height{
        max-height: 365px;
    }
}


@media (min-width: 768px){
    .img-max-height{
        max-height: 430px;
    }
  }

  @media (min-width: 1024px){
    .img-max-height{
        max-height: 244px;
    }
  }