@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .scroll-container, .scroll-basic-container  {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    overflow: hidden;
    /* padding: 120px 20px 50px; */
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    background: #fff;
  }

  .scroll-basic-container {
      overflow: auto;
  }

  .list {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #ddd;
    list-style-type: none;
    text-align: center;
    background: #eee;
  }
  .scroll-container .list .movie-item {
    height: 300px;
  }

  .list .movie-item .img{
    height: inherit;
  }

  .list .movie-item img{
    height: 100%;
  }
  